body {
	padding-top: 60px;
}

.image-button {
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
}

.spaced-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

#linkedin {
	background-size: 60px 50px;
	background-position: 31px 23px;
	background-image: url('../img/LinkedIn_Logo60px.png');
}

#blog {
	background-position: 26px 18px;
	background-size: 60px 60px;
	background-image: url('../img/wordpress-logo-simplified-rgb.png');
}

#github {
	background-position: 20px 12px;
	background-size: 70px 70px;
	background-image: url('../img/octocat.png');
}

#twitter {
	background-position: 18px 8px;
	background-size: 80px 80px;
	background-image: url('../img/twitter-bird-light-bgs.png');
}

#projects {
	background-position: 31px 23px;
	background-size: 50px 50px;
	background-image: url('../img/tools_icon.svg');
}

#data {
	background-position: 31px 23px;
	background-size: 50px 50px;
	background-image: url('../img/chart_icon.svg');
}

.image-button-text {
	margin-top: 64px;
}


